/* @import 'tailwindcss'; */

.header {
  padding: 0 12px;
  /* border-bottom: 1px solid var(--border); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link_wrapper {
  height: 64px;
}

.cat_nav_item {
  padding: 18px 12px;
  /* color: blue; */
}

.cat_nav_item:hover {
  color: blue;
  border-bottom: 2px solid blue;
}
